*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../imagenes/pexels-lukas-mayer-785429.jpg);
    background-attachment: fixed;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.gris{
    color: rgba(136,136,136);
    font-size: 2.5rem;
    padding: 1rem;
}
.blanco{
    font-size: 2.4rem;
    padding: 1rem;
}

.texto{
    text-decoration: none;
    color: white;
}
.titulo{
    margin-top: 12px;
    margin-left: 2rem;
}    
ul li:hover{
    transform: translate(5px, 5px);
    cursor: pointer;
    transition: 1s;
}
.nombres{
    margin-top: 4rem;
    margin-left: 1rem;
}
.container{
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}  
.tecnologias{
    padding-top: 2rem;
    text-align: center;
    font-size: 2.0rem;
}
.formulario{
    display: block;
}
form{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
}
.opacidad{
    opacity: .5;
}
.grid{
    margin-top: 60px;
    margin-bottom: 60px ;
    width: 100%;
    display: grid;
    grid-template-areas:
    "restaurantes comercios profesiones"
    "fotografia abogados eccomerce"
    ;
    justify-content: center;
    grid-template-columns: 15% 15% 15%;
    grid-template-rows: 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.restaurantes{
    grid-area: restaurantes;
    padding: 70px;
    border-radius: 20px;
    background-image: url(../imagenes/coffee-g184708770_640.jpg);
    opacity: .5;
    cursor: pointer;
}

.restaurantes:hover{
    transform: scale(1.1, 1.1);
    transition: 1.5s;
    opacity: 1;
}

.comercios{
    grid-area: comercios;
    padding: 70px;
    border-radius: 20px;
    background-image: url(../imagenes/comercio.jpg);
    opacity: .5;
    cursor: pointer;
}
.comercios:hover{
    transform: scale(1.1, 1.1);
    transition: 1.5s;
    opacity: 1;
}
.profesiones{
    grid-area: profesiones;
    background-image: url(../imagenes/profesiones.jpg);
    opacity: .5;
    padding: 70px;
    border-radius: 20px;
    cursor: pointer;
}
.profesiones:hover{
    transform: scale(1.1, 1.1);
    transition: 1.5s;
    opacity: 1;
}
.fotografia{
    grid-area: fotografia;
    background-image: url(../imagenes/fotografia.jpg);
    padding: 70px;
    border-radius: 20px;
    opacity: .5;
    cursor: pointer;
}
.fotografia:hover{
    transform: scale(1.1, 1.1);
    transition: 1.5s;
    opacity: 1;
}
.abogados{
    grid-area: abogados;
    background-image: url(../imagenes/fotoabogados.jpg);
    opacity: .5;
    padding: 70px;
    border-radius: 20px;
    cursor: pointer;
}
.abogados:hover{
    transform: scale(1.1, 1.1);
    transition: 1.5s;
    opacity: 1;
}
.eccomerce{
    grid-area: eccomerce;
    background-image: url(../imagenes/eccomerce.jpg);
    opacity: .5;
    padding: 70px;
    border-radius: 20px;
    cursor: pointer;
}
.eccomerce:hover{
    transform: scale(1.1, 1.1);
    transition: 1.5s;
    opacity: 1;
}
footer{
    display: block;
}
.links{
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    cursor: pointer;
}

.links a{
    padding: 10px;
}
.links:hover{
    transform: scale(1.2);
    }
    
.sobremi{
    padding-top: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
}
.sobremi p{
    line-height: 2.8;
    justify-content: left;
    margin-top: 7rem;
}
.setup{
    justify-content: right;
    border-radius: 5px;
    margin-left: 7rem
}
.mainServicios{
    padding-top: 6rem;
}

@media screen and (max-width: 992px)
{
    .sobremi{
        display:block
    } 
    .grid{
        margin-top: 60px;
        margin-bottom: 60px ;
        width: 100%;
        display: grid;
        grid-template-areas:
        "restaurantes comercios" 
        "profesiones fotografia"
        "abogados eccomerce"
        ;
        justify-content: center;
        grid-template-columns: 30% 30%;
        grid-template-rows: 200px 200px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
@media screen and (max-width:670px)
{
    .grid{
    margin-top: 60px;
    margin-bottom: 60px ;
    width: 100%;
    display: grid;
    grid-template-areas:
    "restaurantes"
    "comercios" 
    "profesiones"
    "fotografia"
    "abogados" 
    "eccomerce"
    ;
    justify-content: center;
    grid-template-columns: 50%;
    grid-template-rows: 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
}
}